main {
    background-image: linear-gradient(to top right, #e65c9c, #6b0772);
    height: 100vh;
    margin: 0rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 768px) and (max-width: 1000px) 
  {
.lname
  {
      margin-left: 2rem;
  }
}